.sign {
  display: flex;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 442px) {
  .sign {
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.sign__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 396px;
  margin: 0 auto;
}

@media screen and (max-width: 442px) {
  .sign__container {
    max-width: initial;
  }
}

.sign__logo {
  align-self: flex-start;
  margin-bottom: 40px;
}

@media screen and (max-width: 442px) {
  .sign__logo {
    align-self: center;
  }
}

.sign__title {
  color: #fff;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  padding: 0;
  margin: 0 0 40px 0;
}

@media screen and (max-width: 442px) {
  .sign__title {
    align-self: center;
  }
}

.sign__registration {
  color: #8b8b8b;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
}

.sign__button {
  color: #fff;
  background-color: #4285f4;
  margin-top: 49px;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 13px 0;
  margin-bottom: 16px;
}

.sign__button_disabled {
  cursor: initial;
  background-color: lightgray;
}

.sign__button_disabled:hover {
  opacity: 1;
}

.sign__error {
  color: #ee3465;
  font-size: 12px;
}
