.technologies {
  background-color: #272727;
  padding-bottom: 100px;
}

@media screen and (max-width: 766px) {
  .technologies {
    background-color: transparent;
    padding-bottom: 70px;
  }
}

.technologies__container {
  max-width: 1140px;
  padding-top: 100px;
  margin: 0 auto;
}

@media screen and (max-width: 1220px) {
  .technologies__container {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 968px) {
  .technologies__container {
    padding-top: 90px;
  }
}

@media screen and (max-width: 766px) {
  .technologies__container {
    margin-right: 14px;
    margin-left: 14px;
    padding-top: 70px;
  }
}

.technologies__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologies__header {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  max-width: 600px;
  text-align: center;
  line-height: 1.16;
  padding: 0;
  margin: 0 0 26px 0;
}

@media screen and (max-width: 766px) {
  .technologies__header {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
}

.technologies__description {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42;
  padding: 0;
  margin: 0 0 100px 0;
}

@media screen and (max-width: 968px) {
  .technologies__description {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 766px) {
  .technologies__description {
    font-size: 11px;
    line-height: 1.45;
    margin-bottom: 50px;
  }
}

.technologies__list {
  display: grid;
  grid-template-columns: repeat(7, 90px);
  column-gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 766px) {
  .technologies__list {
    grid-template-columns: repeat(2, 90px);
    row-gap: 10px;
  }
}

.technologies__list-item {
  color: #fff;
  display: inline-block;
  background-color: #303030;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  border-radius: 10px;
  padding: 22px 0;
}

@media screen and (max-width: 968px) {
  .technologies__list-item {
    font-size: 12px;
    line-height: 1.25;
  }
}

.technologies__section-header {
  margin-bottom: 90px;
}

@media screen and (max-width: 766px) {
  .technologies__section-header {
    border-bottom: 1px solid #000000;
    margin-bottom: 60px;
  }
}
